* {
  font-family: "Fjalla One", sans-serif;
}
.container {
  margin: 0rem 3rem;
  color: black;
}
.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scores {
  height: 500px;
  width: 400px;
  border: 1px solid black;
}
.qualityScores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qualityScoresItem {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#name {
  width: 50px;
}
